@CHARSET "UTF-8";
body,div, p, span, a, ul, li,dt, h1, h2, h3, h4 {margin:0;padding:0;}

body {font:14px Tahoma;	background:#fff;}

a { color:#000; text-decoration:none;}
a:hover {text-decoration:underline;}

#container {margin:0 auto; width:800px;	position: relative; margin-top:50px;}
#header , #mainBody, #footer{width:100%;	border:1px solid blue; margin-top:5px;}

#header { margin-top:10px; height: 100px; font-size: 30px;	font-weight: bold; }
#header .title{position:absolute;top:25px;left:200px; width:400px; height:50px; 
	text-align:center; font-size:30px; line-height:50px;}
#header .left{position:absolute;top:70px;left:10px;	width:300px;height:25px;	
	font-size:14px;}
#header .right{position: absolute;top:70px;right:5px;width:150px;height:25px;
	font-size:14px;}
#header a{margin-left:5px;}

#mainBody {	height:400px; overflow:auto;}

ul li{font-size:14px; margin-left: 100px; padding-top:10px;}
.note span{display:block;font-size:14px; margin-left: 120px; padding-top:10px;}

#footer { height:50px; line-height:50px;	font-weight: bold;	text-align:center}

.login_adduser_form{width:380px; margin:50px auto; }
.login_adduser_form p{padding:5px;}
.login_adduser_form p span{width:60px; display:inline-block;}
.login_adduser_form p.error span{width:300px; margin-left:70px; color:red;}
.login_adduser_form p input{width:300px;margin-left:10px;}
.login_adduser_form p input[name="submit"]{margin-left:70px ;width:300px;}

.form_search {width:600px; margin:10 auto;}

.error_title{margin:30px; color:red; font-size:16px;}
.error_cause{ margin:0 60px; }

/*课程设计*/
.jishu1{
	font-weight: bold;
	list-style-type: none;
}

.jishu2{
	list-style-type: none;
}

.jishu2 li{
	margin-left: 125px;
}

.error_login{color:red;}

.mainProduct{
	display: flex;
	justify-content: center;
	align-items: flex-start;

}

table { border-collapse:separate; border-spacing:0; width:760px;
	border:solid 1px #ededed; text-align:center; font-size:14px;
	margin-top: 5%;
}

table tr{height:30px;}
table td{ border:solid 1px #ededed; }
table th{ border:solid 1px #ededed; font-weight: normal}

table tr .th1{width: 30%}
table tr .th2{width: 23%}
table tr .th3{width: 23%}
table tr .th4{width: 10%}
table tr .th5{width: 10%}

/*table  td input{border-width:0; text-align:center;}*/
/*table  td input[type="submit"]{background:white; cursor:pointer;}*/

button {
	border: none;
}

.trInput td input{
	width: 100%;
	border: none;
	outline: none;
	text-align: center;
	padding: 10px;
}

.trInput td{
	padding: 0px;
}