<!DOCTYPE>
<html lang='en' xmlns:http='http://www.thymeleaf.org'>
<head>
    <meta charset='UTF-8'>
    <link rel='stylesheet' type='text/css' th:href='@{/themes/styles.css}' media='screen'/>
    <title>Index</title>
</head>
<body>
<div id='container'>
    <div th:replace='~{commons :: header}'/>
    <div id='mainBody'>
        <ul>
            <li><a href="login">登录</a></li>
            <li><a href="product">浏览商品</a></li>
            <li><a href="addProduct">添加商品</a></li>
            <li class="jishu1">技术要求:</li>
            <ul class="jishu2">
                <li>01、Spring Boot 应用框架</li>
                <li>02、MyBatis 数据持久层框架</li>
                <li>03、Thymeleaf 模板引擎（数据渲染）</li>
                <li>04、身份验证（Session与Cookie状态管理或JWT，Spring拦截器）</li>
                <li>05、数据检验机制（Jakarta，Hibernate数据检验）</li>
                <li>06、异常处理机制</li>
                <li>07、Ajax异步请求(jQuery或axios)</li>
                <li>08、密码加、解密(md5或sha256)</li>
                <li>09、防SQL注入攻击</li>
            </ul>
        </ul>

    </div>
    <div th:replace='~{commons :: footer}'/>
</div>
</body>
</html>